<!DOCTYPE html>

<html>
    <head>

    </head>

    <body>
        <p>Hi, <%= @user.first_name %>,</p>
        <p>Thanks for registering! To confirm your registration click <a href='https://momot-social.herokuapp.com/accounts/confirm/<%= @user.confirm_token %>' >here</a>.</p>

        <p>Local environment= <a href="http://localhost:4000/accounts/confirm/<%= @user.confirm_token %>">here</a></p>
    </body>
</html>