#new-post-button{
    text-align: center;
}

.post-image{
    max-width: 100%;
    max-height: 100vh;
}

.post-elements{
    margin-top: 10px;
}

.post-username{
    position: absolute;
    background-color: black;
    color: white;
    padding: 2px;
}

.post-username:hover{
    color: red;
}