#new-post-container{
    background-color: antiquewhite;
    text-align: center;
    border-radius: 10px;
    min-height: calc(100vh - 70px);
    padding: 5em;
}

#inputTag{
    display: none;
}

#new-post-container div {
    flex-direction: column;
}

#new-post-container span {
    width: 100%;
}

#new-post-container input {
    width: 100%;
}

#new-post-container button {
    width: 100%;
}

#picture-label{
    cursor: pointer;
}