#new-post-container{
    background-color: antiquewhite;
    width: 50%;
    margin-left: 25%;
    /* text-align: center; */
    border-radius: 10px;
    height: calc(100vh - 70px);
    padding: 5em;
}