#post-container{
    padding: 0;
    padding-left: 5em;
    padding-top: 10px;
    padding-right: 5em;
}

#comment-textbox{
    width: 100%;
}

@media (max-width: 750px) {
    #post-container {
        padding: 0;
    }
}

@media (max-width: 600px) {
    #post-container {
        width: 100%;
        margin-left: 0;
        padding: 0;
    }
}