#change-password-container {
    padding-right: 5em;
    padding-top: 10px;
    text-align: center;
}

#change-password-container div {
    flex-direction: column;
}

#change-password-container span {
    width: 100%;
}

#change-password-container input {
    width: 100%;
}

@media (max-width: 600px) {
    #change-password-container {
        padding: 5px;
    }
}