#change-password-container {
    border-radius: 10px;
    min-height: calc(100vh - 70px);
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 10px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

#change-password-container div {
    flex-direction: column;
}

#change-password-container span {
    width: 100%;
}

#change-password-container input {
    width: 100%;
}

@media (max-width: 2000px) {
    #change-password-container {
        width: 60%;
        margin-left: 20%;
    }
}


@media (max-width: 1500px) {
    #change-password-container {
        width: 70%;
        margin-left: 15%;
    }
}


@media (max-width: 1250px) {
    #change-password-container {
        width: 80%;
        margin-left: 10%;
    }
}


@media (max-width: 1000px) {
    #change-password-container {
        width: 90%;
        margin-left: 5%;
    }
}



@media (max-width: 750px) {
    #change-password-container {
        padding: 5px;
    }
}

@media (max-width: 600px) {
    #change-password-container {
        width: 100%;
        margin-left: 0;
        padding: 5px;
        border-radius: 0;
    }
}