.forgot-password-container{
    background-color: antiquewhite;
    width: 50%;
    margin-left: 25%;
    padding: 5em;
    min-height: calc(100vh - 70px);
    text-align: center;
    border-radius: 10px;
}

@media (max-width: 2000px) {
    .forgot-password-container {
        width: 60%;
        margin-left: 20%;
    }
}


@media (max-width: 1500px) {
    .forgot-password-container {
        width: 70%;
        margin-left: 15%;
    }
}


@media (max-width: 1250px) {
    .forgot-password-container {
        width: 80%;
        margin-left: 10%;
    }

    .forgot-password-container div {
        flex-direction: column;
    }
    
    .forgot-password-container span {
        width: 100%;
    }
    
    #forgot-password-form input {
        width: 100%;
    }
}


@media (max-width: 1000px) {
    .forgot-password-container {
        width: 90%;
        margin-left: 5%;
    }
}



@media (max-width: 750px) {
    .forgot-password-container {
        padding: 5px;
    }
}

@media (max-width: 600px) {
    .forgot-password-container {
        width: 100%;
        margin-left: 0;
        padding: 5px;
    }
}