.forgot-password-container{
    background-color: antiquewhite;
    min-height: calc(100vh - 70px);
    text-align: center;
}

    .forgot-password-container div {
        flex-direction: column;
    }
    
    .forgot-password-container span {
        width: 100%;
    }
    
    #forgot-password-form input {
        width: 100%;
    }

    #reset-password-form div input{
        width: 100%;
        border-radius: 2px;
    }



@media (max-width: 750px) {
    .forgot-password-container {
        padding: 5px;
    }
}