#login-div{
    background-color: antiquewhite;
    min-height: calc(100vh - 70px);
    text-align: center;
}

#login-div div {
    flex-direction: column;
}

#login-div span {
    width: 100%;
}

#login-div input {
    width: 100%;
}

@media (max-width: 750px) {
    #login-div {
        padding: 5px;
    }
}
