.blue{
    background-color: #0D85FE;
    color: white;
    width: 400px;
}

.gray{
    background-color: #E5E5EA;
    width: 400px;
}

.gray, .blue{
    overflow-wrap: break-word;
    padding: 4px;
    font-size: 1.05em;
}

.message-container{
    text-align: center;
}

.single-message{
    text-align: left;
}