.nav-link{
    color: rgb(255, 255, 255);
}

.nav-link:hover {
    color: rgb(0, 255, 0);
}

#nav-bar, #mobile-nav{
    display: flex;
    justify-content: end;
    padding: 0.7rem 1.5rem;
    background-color:rgb(187, 0, 0);
    height: 70px;
}

#mobile-nav{
    display: none;
}

@media (max-width: 599px){
    #nav-bar{
        display: none;
    }

    #mobile-nav{
        display: block;
        position: relative;
    }

    .navbar{
        z-index: 2;
    }

    .navbar-toggler{
        position: absolute;
        background-color: black;
    }

    .tests{
        width: 100vw;
        margin-top: 20px;
        position: absolute;
        left: 0;
        z-index: 2;
    }

    

      .close-navbar-toggler.collapsed{
        z-index:-1;
      }
}